* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: midnightblue;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-areas:
    'a a a a b b'
    'c c c d d d'
    'c c c e e e'
    ;
    gap: 10px;
    width: 70%;
    margin: auto;
}

main div{
    padding: 4em;
    border-radius: 2px;
}
.a {
    background-color: red;
    grid-area: a;
}

.b {
    background-color: orange;
    grid-area: b;
}

.c {
    background-color: green;
    grid-area: c;
}

.d {
    background-color: burlywood;
    grid-area: d;
}

.e {
    background-color: burlywood;
    grid-area: e;
}

